In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly&response_type=code

Enter your authorization code:
4/1AY0e-g5ZQ8OAF82Qz_cIi7tFSMPlb6kEZfpNFnSZmbsfkB60zN4AtI5_-Ds
Mounted at /content/drive

In [2]:
root = '/content/drive/MyDrive/covid_kaggle'

In [3]:
import pandas as pd
data = pd.read_csv(f'{root}/covid_19_data.csv')
data

           SNo ObservationDate     Province/State  ... Confirmed  Deaths  Recovered
0            1      01/22/2020              Anhui  ...       1.0     0.0        0.0
1            2      01/22/2020            Beijing  ...      14.0     0.0        0.0
2            3      01/22/2020          Chongqing  ...       6.0     0.0        0.0
3            4      01/22/2020             Fujian  ...       1.0     0.0        0.0
4            5      01/22/2020              Gansu  ...       0.0     0.0        0.0
...        ...             ...                ...  ...       ...     ...        ...
205946  205947      01/19/2021  Zaporizhia Oblast  ...   62492.0   738.0    39168.0
205947  205948      01/19/2021            Zeeland  ...   13031.0   149.0        0.0
205948  205949      01/19/2021           Zhejiang  ...    1316.0     1.0     1298.0
205949  205950      01/19/2021    Zhytomyr Oblast  ...   42758.0   707.0    37834.0
205950  205951      01/19/2021       Zuid-Holland  ...  224398.0  3153.0        0.0

[205951 rows x 8 columns]

In [4]:
temp = data
temp.sort_values(['Province/State','Last Update'],ascending=True)

         SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
2670    2671      02/28/2020   Montreal, QC  ...       1.0    0.0        0.0
2787    2788      02/29/2020   Montreal, QC  ...       1.0    0.0        0.0
2915    2916      03/01/2020   Montreal, QC  ...       1.0    0.0        0.0
3047    3048      03/02/2020   Montreal, QC  ...       1.0    0.0        0.0
3196    3197      03/03/2020   Montreal, QC  ...       1.0    0.0        0.0
...      ...             ...            ...  ...       ...    ...        ...
12451  12452      04/06/2020            NaN  ...     165.0    7.0       65.0
12452  12453      04/06/2020            NaN  ...     245.0    0.0       95.0
12453  12454      04/06/2020            NaN  ...     254.0    1.0       24.0
12454  12455      04/06/2020            NaN  ...      39.0    1.0        5.0
12455  12456      04/06/2020            NaN  ...      10.0    1.0        0.0

[205951 rows x 8 columns]

In [5]:
data.isnull().sum()

SNo                    0
ObservationDate        0
Province/State     55377
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

In [6]:
data.describe()

                 SNo     Confirmed         Deaths     Recovered
count  205951.000000  2.059510e+05  205951.000000  2.059510e+05
mean   102976.000000  4.540148e+04    1262.633850  2.766348e+04
std     59453.076982  1.437216e+05    4082.838603  1.334517e+05
min         1.000000 -3.028440e+05    -178.000000 -8.544050e+05
25%     51488.500000  5.960000e+02       7.000000  1.100000e+01
50%    102976.000000  5.361000e+03     101.000000  1.028000e+03
75%    154463.500000  2.618400e+04     713.000000  9.880000e+03
max    205951.000000  3.049037e+06   80143.000000  6.399531e+06

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205951 entries, 0 to 205950
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              205951 non-null  int64
 1   ObservationDate  205951 non-null  object
 2   Province/State   150574 non-null  object
 3   Country/Region   205951 non-null  object
 4   Last Update      205951 non-null  object
 5   Confirmed        205951 non-null  float64
 6   Deaths           205951 non-null  float64
 7   Recovered        205951 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 12.6+ MB